@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.header .title h1 {
  margin-left: 30px;
}

.header .title::before {
  display: block;
  width: 150px;
  height: 100px;
  content: "";
  background: url("../../images/WechatIMG4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header .title .fa-phone-volume {
  margin-left: 40px;
}

.header .title p {
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: large;
  color: #283618;
}

.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #283618;
  padding: 10px 0;
}

.nav-container .nav-container__left-section {
  display: flex;
  justify-content: space-around;
  width: 50em;
  padding: 10px 0;
}

.nav-container .nav-container__left-section ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-container .nav-container__left-section ul a {
  text-decoration: none;
  color: #fff;
}

.nav-container .nav-container__left-section ul a:hover {
  color: #fefae0;
}

.nav-container .nav-container__right-section {
  display: flex;
  justify-self: center;
}

.first-section {
  width: 100%;
  height: 100%;
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(40, 65, 15, 0.5) url("../../images/b70f1caf10fc23e679b85c026d9f33.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  margin-top: 0;
  position: relative;
}

.first-section .intro {
  line-height: 40px;
  background-color: rgba(41, 59, 5, 0.5);
  padding: 40px;
  border-radius: 10px;
}

.first-section .intro .description {
  margin: 20px;
}

.first-section .photos {
  position: absolute;
  top: 510px;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  padding: 50px 10px;
  background-color: #ccd5ae;
}

.first-section .photos .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.first-section .photos .photo img {
  width: 95%;
  padding: 0 20px;
}

.first-section .photos .photo .description {
  color: #343a40;
  width: 80%;
}

.first-section .photos .photo .description h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.first-section .photos hr {
  background-color: #283618;
  border: none;
  width: 2px;
  opacity: 0.5;
}

.redirect-btn {
  outline: 0;
  width: 200px;
  background-color: #bc6c25;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  border-radius: 25px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s ease;
}

.redirect-btn:hover {
  filter: brightness(120%);
}

.second-section {
  width: 100%;
  margin-top: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section .content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.second-section .content .slogan-container {
  background-color: #283618;
  color: #fff;
  padding: 30px;
}

.second-section .content .slogan-container .slogan {
  margin: 0;
  padding: 0;
}

.second-section .content .story {
  background-color: #fefae0;
}

.second-section .content .story .story_first-section {
  width: 100%;
  padding: 50px 18%;
}

.second-section .content .story hr {
  background-color: #283618;
  border: none;
  height: 2px;
  width: 70%;
  margin: auto;
  opacity: 0.5;
}

.second-section .content .story h2 {
  margin: 50px;
}

.second-section .content .story .story_second-section {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.second-section .content .story .story_second-section .story_second-section_content {
  width: 20%;
  margin: 0 30px;
}

.second-section .content .story .story_second-section .story_second-section_content i {
  font-size: 5rem;
  color: #606c38;
}

.second-section .content .story .story_second-section .story_second-section_content p {
  margin-top: 30px;
}

.third-section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.third-section .third-section_left {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.third-section .third-section_left h3 {
  margin-left: 20px;
}

.third-section .third-section_left img {
  width: 30rem;
  padding: 0 20px 30px;
}

.third-section .third-section_right {
  margin: 30px;
  background-color: #ccd5ae;
  padding: 30px;
  min-width: 50vw;
}

.third-section .third-section_right h3 {
  margin: 20px 10px 20px;
}

.third-section .third-section_right p {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

.fourth-section {
  width: 100%;
}

.fourth-section .service-container {
  width: 100%;
  color: #fff;
  background-color: #606c38;
  text-align: center;
  padding: 30px;
}

.fourth-section .service-container .slogan {
  margin: 20px;
  text-align: center;
}

.fourth-section .service-container .img-container {
  width: 60%;
  margin: auto;
}

.fourth-section .service-container .img-container img {
  display: inline-block;
  margin: 20px;
  width: 25rem;
}

.fourth-section .service-container p {
  width: 60%;
  margin: 20px auto;
}

.fourth-section .service-container .redirect-btn {
  margin-bottom: 30px;
}

.fourth-section .service-container .service-list {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
}

.fourth-section .service-container .service-list li {
  margin: 10px 30px 20px;
  position: relative;
  padding-left: 1.5em;
}

.fourth-section .service-container .service-list li::before {
  content: "";
  background-color: #fefae0;
  background-image: url("../../images/check-solid.svg");
  color: #fefae0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 6px;
}

.fourth-section .quote-container {
  width: 100%;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-section .quote-container .title-image {
  width: 100vw;
  height: 30vh;
  background: url("../../images/backyard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fourth-section .quote-container .slogan {
  margin: 70px 20px 20px;
}

.fourth-section .quote-container p {
  width: 50%;
  text-align: center;
}

.fourth-section .quote-container .form-container {
  width: 50%;
  margin: 30px auto 100px;
  padding: 50px;
  background-color: #ccd5ae;
}

.fourth-section .quote-container .form-container .quote {
  width: 70%;
  margin: auto;
}

.fourth-section .quote-container .form-container .quote .text-input {
  width: 100%;
  height: 50px;
  background-color: #fefae0;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.fourth-section .quote-container .form-container .quote .text-input:focus {
  outline-color: #bc6c25;
}

.fourth-section .quote-container .form-container .quote .text-input::placeholder {
  color: #bc6c25;
  opacity: 0.7;
}

.fourth-section .quote-container .form-container .quote .text {
  width: 100%;
  height: 200px;
  background-color: #fefae0;
  border: none;
  border-radius: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 10px;
}

.fourth-section .quote-container .form-container .quote .text:focus {
  outline-color: #bc6c25;
}

.fourth-section .quote-container .form-container .quote .text::placeholder {
  color: #bc6c25;
  opacity: 0.7;
}

.fourth-section .quote-container .form-container .quote .redirect-btn {
  display: block;
  margin: auto;
}

.footer-container {
  background-color: #283618;
  color: #fff;
  padding: 30px 100px;
}
