@media screen and (max-width: 1100px) {
  .header .title {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
  }
  .header .title::before {
    display: none;
  }
  .header .title .fa-phone-volume {
    display: none;
  }
  .header .title p {
    margin-top: 10px;
  }
  .nav-container {
    display: flex;
    justify-content: center;
  }
  .nav-container .nav-container__left-section ul {
    display: flex;
    justify-content: space-around;
  }
  .first-section {
    padding: 100px;
  }
  .first-section .intro {
    margin-bottom: 50px;
  }
  .first-section .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: static;
  }
  .first-section .photos .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .first-section .photos .photo img {
    width: 80%;
    padding: 0 20px;
  }
  .first-section .photos hr {
    display: none;
  }
  .second-section {
    margin-top: 0;
  }
  .second-section .content .slogan-container .slogan {
    width: 90%;
    margin: auto;
  }
  .second-section .content .story {
    background-color: #fefae0;
  }
  .second-section .content .story .story_first-section {
    padding: 50px 10%;
  }
  .second-section .content .story hr {
    width: 90%;
  }
  .second-section .content .story h2 {
    margin: 50px auto 20px;
  }
  .second-section .content .story .story_second-section {
    flex-direction: column;
  }
  .second-section .content .story .story_second-section .story_second-section_content {
    width: 90%;
    margin: 30px auto;
  }
  .second-section .content .story .story_second-section .story_second-section_content i {
    display: block;
  }
  .second-section .content .story .story_second-section .story_second-section_content p {
    margin-top: 50px;
  }
  .third-section {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .third-section .third-section_left {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .third-section .third-section_left h3 {
    margin: 30px auto 10px;
  }
  .third-section .third-section_left img {
    width: 90%;
    padding: 0 20px 30px;
  }
  .third-section .third-section_right {
    margin: 0;
    min-width: 0;
  }
  .third-section .third-section_right h3 {
    margin-left: 40px;
  }
  .third-section .third-section_right p {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }
  .fourth-section .service-container .slogan {
    margin: 20px;
    text-align: center;
  }
  .fourth-section .service-container .img-container {
    width: 100%;
  }
  .fourth-section .service-container .img-container img {
    display: block;
    margin: 0 auto 30px;
    width: 92%;
  }
  .fourth-section .service-container p {
    width: 90%;
  }
  .fourth-section .service-container .redirect-btn {
    margin-bottom: 0;
  }
  .fourth-section .service-container .service-list {
    width: 90%;
  }
  .fourth-section .quote-container .title-image {
    width: 100vw;
    height: 16vh;
    margin: 0;
    background-size: contain;
  }
  .fourth-section .quote-container .slogan {
    margin: 30px 20px 20px;
  }
  .fourth-section .quote-container p {
    width: 90%;
  }
  .fourth-section .quote-container .form-container {
    width: 90%;
    margin: 30px auto;
  }
  .fourth-section .quote-container .form-container .quote {
    width: 90%;
    margin: auto;
  }
  .footer-container {
    padding: 30px 20px 0;
  }
  .footer-container .footer-container_bottom {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 30px;
  }
  .footer-container .footer-container_bottom h3 {
    margin-bottom: 10px;
  }
  .footer-container .footer-container_bottom .footer-container_bottom_left p {
    width: 100%;
    margin: 30px auto 0px;
  }
  .footer-container .footer-container_bottom .footer-container_bottom_middle {
    margin: 30px;
  }
  .footer-container .footer-container_bottom .footer-container_bottom_right {
    margin: 10px auto 30px;
  }
  .footer-container .footer-container_bottom .footer-container_bottom_right i {
    font-size: 2rem;
    color: #fefae0;
    margin: 10px 30px;
    transition: color 0.3s ease;
  }
  .footer-container .footer-container_bottom .footer-container_bottom_right i:hover {
    color: #bc6c25;
  }
}
